body {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

img.small {
  max-height: 8rem;
}

button {
  font-size: .8rem;
  padding: .2rem;
  margin: .1rem;
  border-radius: .5rem;
  border: .1rem solid #404040;
  background: #f0c040;
  width: 100%;
  cursor: pointer;
}